#  devtools
debug: true
spring:
  devtools:
    restart:
      enabled: true  #设置开启热部署

logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: error
  config: classpath:logback-boot.xml 