<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.test.project.mapper.BookMapper">
	<update id="update" parameterType="Book">
		update book
		<trim prefix="set" suffixOverrides=",">
			<if test="bId != null and bId != ''">b_id=#{bId},</if>
			<if test="bName != null and bName != ''">b_name=#{bName},</if>
			<if test="remark != null and remark != ''">remark=#{remark},</if>
		</trim>
		where id=#{id}
	</update>
</mapper>
