<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
    <select id="xmlQueryAll" resultType="com.zaumal.test.mybatis.entity.User">
        select 
        	*
        from 
        	test_mybatis_user 
    </select>
</mapper>